body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
/* main content */
.w3-third img {
  margin: 5px;
  opacity: 0.5;
  cursor: pointer;
}
.w3-third img:hover {
  opacity: 1;
}

.projects {
  background-color: gray;
}

div #project {
  display: flex;
  float: left;
  padding: 5px;
}
#project img {
  margin: 3px;
  padding: 0px;
  border: 5px solid grey;
  border-radius: 2vw;
}
#project img:hover {
  outline: none;
  border-color: darkgrey;
  box-shadow: 0px 0px 20px white;
}

.logo img {
  width: 200px;
}

#fontawesome i {
  color: black;
}
#typed {
  font-family: "Courier New", Courier, monospace;
}
.linkbtn {
  text-decoration: none;
  border-width: 0px;
  background-color: transparent;
}

/* end links */

/* end main content */

/*typewriter*/

.landing p {
  align-content: center;
  z-index: 1;
  color: black;
  font: 50px Comic, sans-serif;
  width: 100%;
  margin: 10px;
  padding-top: 20px;
}

/*end typewriter*/

/* response of screen */
@media screen and (max-width: 992px) {
  .logo img {
    width: 150px;
  }
  .w3-third img {
    margin: 5px;
    opacity: 0.8;
    cursor: pointer;
  }
}

@media screen and (max-width: 750px) {
  .landing p {
    width: 90%;
    font: 45px Comic, sans-serif;
  }
  .logo img {
    width: 120px;
  }
}
@media screen and (max-width: 600px) {
  div #project {
    display: table;
    float: left;
    /* width: 33.33%; */
    padding: 5px;
  }
}
@media screen and (max-width: 450px) {
  .landing p {
    width: 90%;
    font: 30px Comic, sans-serif;
  }
  .logo img {
    width: 80px;
  }
  html {
    background-color: aqua;
  }
}

@media screen and (max-width: 200px) {
  .landing p {
    width: 90%;
    font: 20px Comic, sans-serif;
  }
  .logo img {
    width: 50px;
  }
  #typed {
    font-family: "Courier New", Courier, monospace;
    text-shadow: none;
  }
}
/* end response of typewriter */

/* popup links*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  align-content: center;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  color: #000;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #0077b5;
  color: #ffffff;
}

.wrapper .gmail:hover,
.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip::before {
  background-color: #f14236;
  color: #ffffff;
}
.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #00d34e;
  color: #ffffff;
}

/* end popup */
