body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}
.logo img {
  width: 200px;
}

.w3-third img {
  margin-bottom: -6px;
  opacity: 0.8;
  cursor: pointer;
}
.w3-third img:hover {
  opacity: 1;
}

/*typewriter*/

.landing p {
  align-content: center;
  z-index: 1;
  color: black;
  font: 50px Comic, sans-serif;
  width: 400px;
  margin: 10px;
  padding-top: 20px;
}

/*end typewriter*/
@media screen and (max-width: 759px) {
}
